:root {
  --box-color: rgb(158, 201, 204);
  --nav-bg: rgb(50, 52, 60);
  --main-bg: rgb(237, 237, 245);
  --body-header: rgb(86, 104, 129);
}

body {
  font-family: "Lato", sans-serif;
}

/* Containers/Utilities */

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15rem;
  margin-bottom: 5rem;
  gap: 0.5rem;
  justify-items: center;
}

/* Navbar */

#avatar {
  height: 100px;
  position: relative;
  left: 240px;
}

.navbar {
  justify-content: space-between;
  background-color: var(--nav-bg);
  padding: 1.5rem;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding-left: 1rem;
  margin: 1rem 1rem 0 0;
}

.nav-links li a {
  border-bottom: 3px solid var(--box-color);
  color: var(--box-color);
}

.main-heading {
  background-color: var(--box-color);
  padding: 0.5rem;
  padding-left: 6rem;
  color: var(--nav-bg);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

/* Hero */

.hero-img img {
  height: 12rem;
  width: 100%;
}

.hero-subtitle {
  z-index: 2;
  position: relative;
  bottom: 4rem;
  left: 20vw;
  margin-right: 2rem;
  padding: 0.5rem;
  background-color: var(--box-color);
  color: var(--nav-bg);
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.hero-you {
  text-decoration: underline;
}

/* Body */

main {
  background-color: var(--main-bg);
}

.body-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  border-right: 2px solid var(--nav-bg);
  margin-left: 5rem;
  padding-right: 1rem;
}

/* About Me Section */

p {
  padding: 2rem;
  line-height: 1.3;
}

p::first-letter {
  font-size: 2rem;
}

/* Work Section */

a img {
  border: 5px solid var(--box-color);
  height: 200px;
  width: 250px;
  object-fit: cover;
}

.work-item-1 img {
  height: 400px;
  width: 500px;
}

.work-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.work-item {
  opacity: 0.5;
}

.work-item:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.work-item-headings {
  background-color: var(--box-color);
  color: var(--nav-bg);
  padding: 0.5rem;
  width: 170px;
  position: relative;
  top: 170px;
  left: 10px;
}

.work-item-headings h3 {
  margin-bottom: 0.3rem;
  font-family: "Roboto", sans-serif;
}

.work-item-headings-1 {
  top: 370px;
}

/* Contact Me Section */

#contact {
  padding-bottom: 2rem;
}

.contact-item {
  color: var(--nav-bg);
  text-decoration: underline;
  padding-right: 6rem;
}

.contact-item a {
  color: var(--nav-bg);
}

/* Mobile Devices */

@media screen and (max-width: 768px) {
  /* Main Heading and Navbar */

  #avatar {
    z-index: 10;
    width: 100%;
    height: 70px;
    position: relative;
    left: 0px;
  }

  .main-heading {
    font-size: 16px;
    padding: 1rem;
  }

  .navbar {
    flex-wrap: wrap;
    font-size: 12px;
  }

  /* Hero */

  .hero-subtitle {
    font-size: 16px;
    left: 3vw;
  }

  /* About Me */

  .container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .body-header {
    font-size: 1rem;
    border-bottom: 2px solid var(--nav-bg);
    border-right: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  p {
    padding: 1rem;
    line-height: 1.3;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }

  p::first-letter {
    font-size: 2rem;
  }

  /* Work */

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-bottom: 3rem;
    gap: 0.5rem;
    justify-content: center;
  }

  a img {
    border: 5px solid var(--box-color);
    height: 100px;
    width: 125px;
    object-fit: cover;
  }

  .work-item-1 img {
    height: 200px;
    width: 250px;
  }

  .work-item-headings {
    padding: 0.2rem;
    width: fit-content;
    position: relative;
    top: 90px;
    left: 10px;
  }

  .work-item-headings h3,
  h6 {
    font-size: 10px;
  }

  .work-item-headings-1 {
    top: 190px;
  }

  #contact {
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }

  .contact-item {
    padding: 1rem;
  }
}
